---
import { getHomePermalink } from '~/utils/permalinks';
import Brands from '~/components/widgets/Brands.astro';
import { useTranslations } from "~/i18n/utils";
import { languageList } from '~/i18n/ui';
const currentLang = Astro.currentLocale || "es";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getPermalink } from '~/utils/permalinks';
const translateLabels = useTranslations(
  currentLang as keyof typeof languageList
);

export function getLocalizedPermalink(path, lang = "es") {
  return getRelativeLocaleUrl(lang, getPermalink(path));
}

export interface Props {
  footNote?: string;
  theme?: string;
}

const footerData = {
  links: [
    {
      title: translateLabels("help"),
      links: [
        { text: translateLabels("contact_us"), href: getLocalizedPermalink("/contact") },
        { text: translateLabels("aconcagua"), href: getLocalizedPermalink("/homes/aconcagua") },
        { text: translateLabels("cancellation_policy"),  href: getLocalizedPermalink("/terms-and-conditions")},
        { text: translateLabels("privacy_policy"), href: getLocalizedPermalink("/privacy-politicy") },
        { text: translateLabels("terms_conditions"), href: getLocalizedPermalink("/terms-and-conditions") },
      ],
    },
    {
      title: translateLabels("social_media"),
      links: [
        { text: "Instagram", href: "https://www.instagram.com/aconcaguaparedsur" },
        { text: "Facebook", href: "https://www.facebook.com/aconcaguaparedsur" },
        { text: "Whatsapp", href: "https://api.whatsapp.com/send?phone=%2B542612506186" },
      ],
    },
    {
      title: translateLabels("about"),
      links: [{ text: "paredsur.aconcagua@gmail.com" }],
    },
  ],
};
---

<footer class:list={['relative border-t border-gray-200 dark:border-slate-800 not-prose']}>
  <div class="dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300">
    <div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
      <div class="col-span-12 lg:col-span-4">
        
  <Brands
  title=""
  subtitle={translateLabels("certifications")}
  icons={[]}
  images={[
    {
      src: '~/assets/images/cert2.png',
      alt: 'Centro',
    },
    {
      src: '~/assets/images/cert3.png',
      alt: 'Guias',
    },
    {
      src: '~/assets/images/cert1.png',
      alt: 'UOI',
    },
   
  ]}
/>
        <div class="mb-2">
          <a class="inline-block font-bold text-xl" href={getHomePermalink()}></a>
        </div>
        
      </div>
      {
        footerData.links.map(({ title, links }) => (
          <div class="col-span-6 md:col-span-3 lg:col-span-2">
            <div class="dark:text-gray-300 font-medium mb-2">{title}</div>
            {links && Array.isArray(links) && links.length > 0 && (
              <ul class="text-sm">
                {links.map(({ text, href }) => (
                  <li class="mb-2">
                    <a
                      class="text-muted hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
                      href={href}
                    >
                      <Fragment set:html={text} />
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </div>
        ))
      }
    </div>
    
  </div>
</footer>
